@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

//variables
$max-width: 850px;

//mixin
@mixin default-transition {
  transition: 500ms ease-in-out;
}

@mixin fast-transition {
  transition: 250ms ease-in-out;
}

@mixin slow-transition {
  transition: 1000ms ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(76, 146, 216, 1) 100%
  );
  color: white;
  font-weight: 300;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cloudy-video,
.storm-video {
  @include default-transition;
}

.weather {
  pointer-events: none;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .bg-video {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0px;
    padding-bottom: 178.164%;

    &:after {
      content: "";
      height: 100%;
      width: 100vw;
      position: fixed;
      z-index: 0;
      left: 0;
      top: 0;
    }
  }

  &.cloudy {
    .storm-video {
      opacity: 0;
    }

    .bg-video:after {
      background: linear-gradient(
        180deg,
        #09097933 0%,
        #4c92d84d 50%,
        #1771ca 100%
      );
    }
  }

  &.storm {
    .cloudy-video {
      opacity: 0;
    }

    .bg-video:after {
      background: linear-gradient(
        180deg,
        #09097933 0%,
        #0f5ca94d 50%,
        #112436 100%
      );
    }
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 40px;
  width: calc(100% - 80px);

  .sticky {
    .header-details {
      height: 0;
      overflow: hidden;
      @include default-transition;
    }
    .temp-minify {
      display: block;
      opacity: 1;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 0 60px 0;
    text-shadow: 3px 0px 10px #232e5acc;

    .city {
      font-size: 6rem;
      font-weight: 400;
    }
    .temp-minify {
      font-size: 3.2rem;
      display: none;
      opacity: 0;
      font-weight: 400;
    }
    .header-details {
      .temp {
        font-size: 18rem;
      }
      .situation,
      .min-max-temp {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 4.2rem;
        font-weight: 400;
        height: 50px;
        .min,
        .max {
          margin: 0 8px;
        }
      }
    }
  }

  .card {
    background: #4899e92e;
    border-radius: 15px;
    padding: 18px;
    margin-bottom: 14px;
    min-height: 100px;
    backdrop-filter: blur(5px);
  }

  .weather-resume {
    font-size: 4rem;
    font-weight: 400;
    .message {
      font-weight: 400;
      font-size: 3rem;
    }
    .card {
      hr {
        border: 0;
        border-top: 1px solid #ffffff24;
        margin: 13px 0;
      }
      ul {
        display: flex;
        text-align: center;
        align-items: stretch;
        li {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-wrap: nowrap;
          row-gap: 8px;
          span {
            font-size: 3rem;
          }
          .temp-percentage {
            font-size: 2.6rem;
            color: #48c8eb;
            font-weight: bold;
          }
        }
      }
    }
  }
}

//Media queries responsive
@media (min-width: $max-width) {
  .wrapper {
    width: $max-width;
    margin-left: -425px;
    left: 50%;

    header {
      text-shadow: 3px 0px 24px #232e5acc;
    }
  }
}

@media (max-width: $max-width) {
  html,
  body {
    font-size: 1vw;
  }
}
